---
---

@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url('../vendor/fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),  url('../vendor/fonts/AvenirNextCyr-Regular.otf')  format('opentype'),
	     url('../vendor/fonts/AvenirNextCyr-Regular.woff') format('woff'), url('../vendor/fonts/AvenirNextCyr-Regular.ttf')  format('truetype'), url('../vendor/fonts/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($params) {
  -webkit-animation: #{$params};
  -moz-animation: #{$params};
  animation: #{$params};
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

$port-gore: #1f1a40;
$cello: #1f4865;
$neptune: #6fa2b0;
$dawn-pink: #e9f5e6;
$mystic: #dde7eb;
$launch-left: #5E8C98;
$launch-right: #76A7B3;
$subscribe-launch-left: #4496A8;
$subscribe-launch-right: #61B0C2;

$mobile-breakpoint: 959px;
$desktop-breakpoint: 960px;
$regular-font-size: 14px;

@include keyframes(manifesto-button) {
  0% { @include opacity(1); }
  80% { @include opacity(0.5); }
  100% { @include opacity(1); }
}

@mixin gradient-background() {
  background: #6FC2D5 ; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #e9f5e6  0%, #6fa2b0  30%, #1f4865  74%, #1f1a40  100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e9f5e6 ), color-stop(30%,#6fa2b0 ), color-stop(74%,#1f4865 ), color-stop(100%,#1f1a40 )); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #e9f5e6  0%,#6fa2b0  30%,#1f4865  74%,#1f1a40  100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #e9f5e6  0%,#6fa2b0  30%,#1f4865  74%,#1f1a40  100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #e9f5e6  0%,#6fa2b0  30%,#1f4865  74%,#1f1a40  100%); /* IE10+ */
  background: linear-gradient(45deg,  #e9f5e6  0%,#6fa2b0  30%,#1f4865  74%,#1f1a40  100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e9f5e6 ", endColorstr="#1f1a40 ",GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin gradient-launch($left, $right) {
  background: $left;
  background-image: -webkit-linear-gradient(-89deg, $left 0%, $right 100%);
  background-image: -moz-linear-gradient(-89deg, $left 0%, $right 100%);
  background-image: -o-linear-gradient(-89deg, $left 0%, $right 100%);
  background-image: -ms-linear-gradient(-89deg, $left 0%, $right 100%);
  background-image: linear-gradient(-179deg, $left 0%, $right 100%);
  background-repeat: no-repeat;
}

html, body {
  height: 100%;
  font-family: "AvenirNextCyr-Regular", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body.default {
  @media (min-width: $desktop-breakpoint) {
    background: url(../images/bg.jpg) no-repeat center center;
  }
}

body.en {
  .header {
    ul {
      @media (max-width: $mobile-breakpoint) {
        display: block;
        float: right;
        margin-top: 40px;

        li {
          font-size: 18px;
        }
      }
    }
  }
}

.inner {
  position: relative;
  width: 940px;
  height: 100%;
  margin: 0 auto;

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
  }
}

.hidden {
  display: none;
}

.top {
  background: url(../images/bg.jpg) no-repeat center center;

  @media (min-width: $desktop-breakpoint) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 20%;
    left: 0;
    min-height: 500px;
    overflow: hidden;
  }

  @media (max-height: 625px) {
    bottom: 0;
    padding-bottom: 125px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-bottom: 0;
  }

  .header {
    @include clearfix;

    @media (min-width: $desktop-breakpoint) {
      position: absolute;
      top: 13%;
      right: 0;
      left: 0;
    }

    .logo {
      display: block;
      float: left;
      width: 160px;
      margin-left: 5px;
      height: 26px;
      background: url(../images/logo.svg);
      background-size: 160px 26px;

      @media (max-width: $mobile-breakpoint) {
        margin: 36px 0 0 22px;
      }
    }

    ul {
      display: block;
      float: left;
      padding: 0;
      margin: 2px 0 0 32px;

      @media (max-width: $mobile-breakpoint) {
        display: none;
      }

      li {
        display: inline-block;
        font-size: $regular-font-size;
        margin: 0 22px 0 0;

        a, a:hover, a:active, button, button:hover {
          @include opacity(.9);
          @include transition(opacity, .4s, ease-in);

          color: $mystic;
          border: 0;
          text-decoration: none;
          display:inline;
          background:none;
        }

        a:hover, button:hover {
          @include opacity(.5);
        }
      }
    }

    .like {
      display: block;
      float: right;

      @media (max-width: $mobile-breakpoint) {
        display: none;
      }

      @media (min-width: $desktop-breakpoint) {
        position:relative;
        padding-right:54px;
        .fb-like{
            position:absolute;
            top:3px;
            right:0;
        }
      }

      .caption {
        @include opacity(.5);
        display: inline-block;

        color: $mystic;
        font-size: $regular-font-size;
        padding-top: 3px;
        vertical-align: top;
      }
    }

    .mobile-menu {
      @media (min-width: $desktop-breakpoint) {
        display: none;
      }

      display: block;
      float: right;
      width: 24px;
      height: 19px;
      background: #fff;
      border: 0;
      margin: 38px 22px 0 0;
      background: url(../images/mobile-menu.png) no-repeat center center;
      background-size: 24px 19px;
    }
  }

  .content {
    @media (min-width: $desktop-breakpoint) {
      position: absolute;
      top: 26%;
      right: 0;
      left: 0;
      height: 384px;
    }

    .hero {
      @media (min-width: $desktop-breakpoint) {
        position: absolute;
        top: 19%;
        width: 400px;
        margin: 0 120px 0 0;
      }

      @media (max-width: $mobile-breakpoint) {
        width: 80%;
        padding: 0 10%;
        margin: 95px 0 0 0;
        text-align: center;
      }

      color: #fff;

      h1 {
        font-family: "garamond-premier-pro";
        font-weight: normal;
        font-size: 44px;
        line-height: 56px;
        margin: 10px 0;

        @media (max-width: $mobile-breakpoint) {
          font-size: 32px;
          line-height: 40px;
        }
      }

      p {
        font-size: 16px;
        line-height: 22px;

        @media (max-width: $mobile-breakpoint) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .launch{
        color:#FFF;
        margin-top:20px;
        margin-bottom:40px;
        background:rgba(0, 0, 0, .7);
        border-radius:5px;
        padding: 16px 18px;

        .yellow{
          color:#FF0;
        }

        a {
          color: #F5A623;
          display: inline-block;
          border-bottom: 1px solid #F5A623;
          transition: all .6s ease;
          text-decoration: none;

          &:hover{
            color: #2B8EE1;
            border-bottom: 1px solid #2B8EE1;
            transition: all .2s ease;
          }
        }
      }
      .like{
        display:none;


        @media (max-width: $mobile-breakpoint) {
          display:block;
          margin-bottom:40px;
        }
      }
    }
  }

  .example {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 525px;

    @media (max-width: $mobile-breakpoint) {
      display: none;
    }

    iframe {
      display: block;
      width: 492px;
      height: 445px;
      border: 0;
    }
  }
}

.bottom {
  @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 29));
  background: #212121;
  color: #fff;

  @media (min-width: $desktop-breakpoint) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20%;
    min-height: 125px;
  }

  .inner {
    @media (min-width: $desktop-breakpoint) {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -60px;
      margin-left: -470px;
    }
  }

  ul {
    @include clearfix;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: $mobile-breakpoint) {
      margin-bottom: 20px;
    }

    li {
      @media (min-width: $desktop-breakpoint) {
        float: left;
        width: 20%;
        height: 120px;
      }

      @media (max-width: $mobile-breakpoint) {
        height: 240px;
      }

      display: block;
      position: relative;
      padding: 0;
      margin: 0;

      &.icon01 {
        @media (min-width: $desktop-breakpoint) {
          background: url(../images/icon01.png) no-repeat center 20%;
          background-size: 67px 58px;
        }

        @media (max-width: $mobile-breakpoint) {
          background: url(../images/icon01-mobile.png) no-repeat center 30%;
          background-size: 134px 116px;
        }
      }

      &.icon02 {
        @media (min-width: $desktop-breakpoint) {
          background: url(../images/icon02.png) no-repeat center 20%;
          background-size: 58px 67px;
        }

        @media (max-width: $mobile-breakpoint) {
          background: url(../images/icon02-mobile.png) no-repeat center 30%;
          background-size: 116px 134px;
        }
      }

      &.icon03 {
        @media (min-width: $desktop-breakpoint) {
          background: url(../images/icon03.png) no-repeat center 20%;
          background-size: 50px 61px;
        }

        @media (max-width: $mobile-breakpoint) {
          background: url(../images/icon03-mobile.png) no-repeat center 30%;
          background-size: 100px 122px;
        }
      }

      &.icon04 {
        @media (min-width: $desktop-breakpoint) {
          background: url(../images/icon04.png) no-repeat center 20%;
          background-size: 105px 60px;
        }

        @media (max-width: $mobile-breakpoint) {
          background: url(../images/icon04-mobile.png) no-repeat center 30%;
          background-size: 210px 120px;
        }
      }

      &.icon05 {
        @media (min-width: $desktop-breakpoint) {
          background: url(../images/icon05.png) no-repeat center 20%;
          background-size: 66px 61px;
        }

        @media (max-width: $mobile-breakpoint) {
          background: url(../images/icon05-mobile.png) no-repeat center 30%;
          background-size: 132px 122px;
        }
      }

      span {
        display: block;
        position: absolute;
        top: 80px;
        width: 100%;
        text-align: center;
        margin-top: 4px;
        font-size: $regular-font-size;

        @media (max-width: $mobile-breakpoint) {
          font-size: 18px;
          top: 170px;
          width: 80%;
          padding: 0 10%;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .95);

  .close {
    position: absolute;
    cursor: pointer;
    z-index:2;

    @media (min-width: $desktop-breakpoint) {
      top: 7%;
      right: 5%;
      width: 26px;
      height: 27px;
      background: url(../images/close.png) no-repeat center center;
      background-size: 26px 27px;
    }

    @media (max-width: $mobile-breakpoint) {
      top: 22px;
      right: 12px;
      width: 24px;
      height: 23px;
      background: url(../images/close-mobile.png) no-repeat center center;
      background-size: 24px 23px;
    }
  }

  .inner {
    @include opacity(0);
    -webkit-animation-duration: .5s;
    animation-duration: .5s;

    position: absolute;
    color: #fff;

    @media (min-width: $desktop-breakpoint) {
      top: 5%;
      bottom: 0%;
      left:0%;
      width:100%;
      height: auto;
      padding: 20px 0;
      width:700px;
      left:50%;
      margin-left:-350px;
    }

    @media (max-width: $mobile-breakpoint) {
      z-index:1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }



    .contents {
      height: 100%;
      overflow: auto;
    }
  }

  &.manifesto {
    .social {
      width: 100%;
      position:absolute;
      bottom:5%;
      text-align: center;

      @media (max-width: $mobile-breakpoint) {
        padding-bottom: 20px;
      }
    }
    .contents {
      h1 {
        margin: 50px 0 30px 0;
        text-align: center;
        font-size: 36px;
        line-height: 34px;
      }

      p {
        margin: 25px 42px;
        font-size: 16px;
        line-height: 22px;

        @media (max-width: $mobile-breakpoint) {
          margin: 25px 30px;
        }

        @media (min-width: $desktop-breakpoint) and (max-height: 690px) {
          font-size: 13px;
        }
      }


    }
  }

  &.mobile-menu {
    .contents {
      ul {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -75px 0 0 -80px;
        padding: 0;
        text-align: center;

        li {
          display: block;
          margin: 0 0 32px 0;

          a, button {
            color: #fff;
            border:0;
            background:none;
            font-size: 19px;
            text-decoration: none;
          }
        }
      }

      .like {
        position: absolute;
        bottom: 40px;
        width: 100%;
        text-align: center;

        .caption {
          display: block;
          margin: 0 0 12px 0;
          font-size: 15px;
          color: rgba(255, 255, 255, .4);
        }
      }
    }
  }
}

.btns {
  @media (min-width: $desktop-breakpoint) {
    width: 120%;
    margin: 22px 0 0 0;
  }

  @media (max-width: $mobile-breakpoint) {
    margin: 45px 0 27px 0;
  }

  .launch, .manifesto {
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;

    &:focus {
      outline: 0;
    }

    &.manifesto {
      @include animation("manifesto-button 4s infinite");
      border: 0;
      background: url(../images/icon-manifesto.png) no-repeat center left;
      background-size: 19px 23px;
      padding-left: 30px;

      &:hover {
        @include animation("none");
        @include opacity(.6);
      }

      @media (max-width: $mobile-breakpoint) {
        margin-top: 15px;
        padding-right: 0;
        font-size: 14px;
      }
    }
  }

  form {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    display: inline-block;
    position: relative;

    @media (min-width: $desktop-breakpoint) {
      margin-right: 25px;
    }

    @media (max-width: $mobile-breakpoint) {
      display: block;
    }

    .launch {
      @include transition(width, .2s, ease-in);
      @include placeholder {
        color: #fff;
      }

      border: 0;
      cursor: pointer;
      width: 125px;

      @include gradient-launch($launch-left, $launch-right);
      border-radius: 40px;
      -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.17), inset 0px 1px 1px 0px rgba(0,0,0,0.10);
      box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.17), inset 0px 1px 1px 0px rgba(0,0,0,0.10);

      &:hover {
        @include placeholder {
          @include transition(color, .2s, ease-in);
          color: rgba(255, 255, 255, .6);
        }
      }
    }

    .submit {
      display: none;
      outline: 0;
    }

    &.focused {
      .launch {
        box-sizing: border-box;

        @include placeholder {
          color: rgba(255, 255, 255, .4);
        }

        cursor: text;

        @media (min-width: $desktop-breakpoint) {
          width: 220px;
          padding-right: 40px;
        }

        @media (max-width: $mobile-breakpoint) {
          width: 100%;
        }
      }

      .submit {
        display: block;
        position: absolute;
        top: 5px;
        right: 7px;
        width: 26px;
        height: 26px;
        border: 0;
        background: url(../images/enter.png) no-repeat center center;
        background-size: 26px 26px;
      }
    }

    &.completed {
      margin-right: 5px;
      margin-bottom: 3px;

      .launch {
        background: none;
        filter: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 220px;
        padding-left: 0;
        padding-right: 0;
        cursor: text;

        @include placeholder {
          color: #fff !important;
        }
      }
    }
  }

  .social {
    display: none;
  }
}

.social {
  display: inline-block;
  vertical-align: middle;

  .icon {
    display: inline-block;
    width: 33px;
    height: 33px;
    padding: 0;
    margin: 0 5px 0 0;

    &:last-child {
      margin-right: 0;
    }

    &.facebook {
      background: url(../images/icon-facebook.png) no-repeat center center;
      background-size: 33px 33px;
    }

    &.twitter {
      background: url(../images/icon-twitter.png) no-repeat center center;
      background-size: 33px 33px;
    }

    &.vk {
      background: url(../images/icon-vk.png) no-repeat center center;
      background-size: 33px 33px;
    }
  }
}

.subscribe {
  .btns {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 240px;
    margin: -18px 0 0 -120px;
    padding: 0;
    text-align: center;

    form {
      margin: 0;

      .launch {
        @include gradient-launch($subscribe-launch-left, $subscribe-launch-right);
      }

      &.completed {
        .launch {
          background: none;
          filter: none;
          width: 240px;
        }
      }

      &.for-blog {
        .launch {
          @include gradient-launch(#fff, #fff);
          @include placeholder {
            color: rgba(0, 0, 0, .3);
          }

          color: rgba(0, 0, 0, .8);
          border: 1px solid rgba(0, 0, 0, .1);
        }

        .submit {
          background: url(../images/blog-enter.png) no-repeat center center;
          background-size: 26px 26px;
        }

        &.completed {
          .launch {
            @include placeholder {
              color: rgba(0, 0, 0, .3) !important;
            }
            border: 0;
          }
        }
      }
    }
  }
}
