---
---

@font-face {
  font-family: 'gotham_proregular';
  src: url('/fonts/gothaproreg-webfont.eot');
  src: url('/fonts/gothaproreg-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gothaproreg-webfont.woff2') format('woff2'),
       url('/fonts/gothaproreg-webfont.woff') format('woff'),
       url('/fonts/gothaproreg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin gradient-horizontal($start-color: #000, $first-mid: #000, $second-mid: #000, $end-color: #000) {
  background-image: -webkit-linear-gradient(left, $start-color, $first-mid, $second-mid, $end-color);
  background-image: -o-linear-gradient(left, $start-color, $first-mid, $second-mid, $end-color);
  background-image: linear-gradient(to right, $start-color, $first-mid, $second-mid, $end-color);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down, gets no color-stop at all for proper fallback
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($params) {
  -webkit-animation: #{$params};
  -moz-animation: #{$params};
  animation: #{$params};
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

$port-gore: #1f1a40;
$cello: #1f4865;
$neptune: #6fa2b0;
$dawn-pink: #e9f5e6;
$mystic: #dde7eb;

$regular-font-size: 13px;

@include keyframes(manifesto-button) {
  0% { @include opacity(1); }
  80% { @include opacity(0.5); }
  100% { @include opacity(1); }
}

html, body {
  @include gradient-horizontal($dawn-pink, $neptune, $cello, $port-gore);
  height: 100%;
  font-family: 'gotham_proregular';
}


.inner {
  position: relative;
  width: 940px;
  height: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.top {
  @include gradient-horizontal($dawn-pink, $neptune, $cello, $port-gore);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20%;
  left: 0;
  min-height: 500px;
  overflow: hidden;

  @media screen and (max-height: 625px) {
    bottom: 0;
    padding-bottom: 125px;
  }

  .header {
    @include clearfix;
    position: absolute;
    top: 13%;
    right: 0;
    left: 0;

    .logo {
      display: block;
      float: left;
      width: 146px;
      margin-left: 5px;
      height: 23px;
      background: url(/images/logo.png) no-repeat center center;
      background-size: 146px 23px;
    }

    ul {
      display: block;
      float: left;
      padding: 0;
      margin: 2px 0 0 32px;

      li {
        display: inline-block;
        font-size: $regular-font-size;
        margin: 0 22px 0 0;

        a, a:hover, a:active {
          @include opacity(.9);
          @include transition(opacity, .4s, ease-in);

          color: $mystic;
          text-decoration: none;
        }

        a:hover {
          @include opacity(.5);
        }
      }
    }

    .like {
      display: block;
      float: right;

      .caption {
        @include opacity(.5);
        display: inline-block;

        color: $mystic;
        font-size: $regular-font-size;
        padding-top: 3px;
        vertical-align: top;
      }
    }
  }

  .content {
    position: absolute;
    top: 26%;
    right: 0;
    left: 0;
    height: 384px;

    .hero {
      position: absolute;
      top: 22%;
      width: 400px;
      margin: 0 120px 0 0;
      color: #fff;

      h1 {
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        margin:10px 0;
      }

      p {
        font-size: 15px;
        line-height: 22px;
      }

      .btns {
        width: 150%;
        margin: 22px 0 0 0;

        .launch, .manifesto {
          color: #fff;
          font-size: 14px;
          padding: 10px 20px;

          &:focus {
            outline: 0;
          }

          &:first-child {
            margin-right: 25px;
          }

          &.manifesto {
            @include animation('manifesto-button 4s infinite');
            border: 0;
            background: url(/images/icon-manifesto.png) no-repeat center left;
            background-size: 19px 23px;
            padding-left: 30px;

            &:hover {
              @include animation('none');
              @include opacity(.6);
            }
          }
        }

        form {
          display: inline-block;
          position: relative;

          .launch {
            @include transition(width, .2s, ease-in);
            @include placeholder {
              color: #fff;
            }

            border: 0;
            cursor: pointer;
            width: 125px;

            border-radius: 40px;
            background-image: -o-linear-gradient(-89deg, #5E8C98 0%, #76A7B3 100%);
            background-image: -moz-linear-gradient(-89deg, #5E8C98 0%, #76A7B3 100%);
            background-image: -ms-linear-gradient(-89deg, #5E8C98 0%, #76A7B3 100%);
            background-image: linear-gradient(-179deg, #5E8C98 0%, #76A7B3 100%);
            -moz-box-shadow:  0px 1px 1px 0px rgba(255,255,255,0.17), inset 0px 1px 1px 0px rgba(0,0,0,0.10);
            box-shadow:       0px 1px 1px 0px rgba(255,255,255,0.17), inset 0px 1px 1px 0px rgba(0,0,0,0.10);

            &:hover {
              @include placeholder {
                @include transition(opacity, .2s, ease-in);
                @include opacity(.6);
              }
            }
          }

          .submit {
            display: none;
            outline: 0;
          }

          &.focused {
            .launch {
              @include placeholder {
                color: rgba(255, 255, 255, .4);
              }

              cursor: text;
              width: 245px;
            }

            .submit {
              display: block;
              position: absolute;
              top: 5px;
              right: 32px;
              width: 26px;
              height: 26px;
              border: 0;
              background: url(/images/enter.png) no-repeat center center;
              background-size: 26px 26px;
            }
          }

          &.completed {
            .launch {
              background: none;
              -moz-box-shadow: none;
              box-shadow: none;
            }
          }
        }
      }
    }

    .devices {
      position: absolute;
      left: 50%;
      width: 525px;

      span {
        display: inline-block;
        width: 525px;
        height: 644px;
        background: url(/images/devices.png) no-repeat center center;
        background-size: 525px 644px;
      }
    }
  }
}

.bottom {
  @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 29));
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20%;
  min-height: 125px;
  background: #fff;

  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -470px;
  }

  ul {
    @include clearfix;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: block;
      float: left;
      position: relative;
      padding: 0;
      margin: 0;
      width: 20%;
      height: 120px;

      &.icon01 {
        background: url(/images/icon01.png) no-repeat center 20%;
        background-size: 67px 58px;
      }

      &.icon02 {
        background: url(/images/icon02.png) no-repeat center 20%;
        background-size: 57px 66px;
      }

      &.icon03 {
        background: url(/images/icon03.png) no-repeat center 20%;
        background-size: 51px 61px;
      }

      &.icon04 {
        background: url(/images/icon04.png) no-repeat center 20%;
        background-size: 106px 59px;
      }

      &.icon05 {
        background: url(/images/icon05.png) no-repeat center 20%;
        background-size: 66px 60px;
      }

      span {
        display: block;
        position: absolute;
        top: 80px;
        width: 100%;
        text-align: center;
        margin-top: 4px;
        font-size: $regular-font-size;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);

  .inner {
    @include transition(all, .4s, ease-in);
    position: absolute;
    top: 105%;
    bottom: -105%;
    left: 50%;
    width: 625px;
    height: auto;
    margin-left: -312px;
    padding: 20px 0;
    background: #000;
    color: #fff;

    &.shown {
      top: 5%;
      bottom: 5%;
    }

    .close {
      position: absolute;
      top: 0;
      right: -50px;
      width: 26px;
      height: 27px;
      background: url(/images/close.png) no-repeat center center;
      background-size: 26px 27px;
      cursor: pointer;
    }

    .contents {
      height: 100%;
      overflow: auto;

      h1 {
        margin: 50px 0 30px 0;
        text-align: center;
        font-size: 36px;
        line-height: 34px;
      }

      p {
        margin: 25px 42px;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
