<section class="top">
  <div class="inner">
    <div class="header">
      <a href="/" class="logo"></a>
      {% include en/menu.html %}
    </div>
    <div class="content">
      <div class="hero">
        <h1>Native Advertising platform focused on brand storytelling</h1>
        <p>Create advertising stories and find readers and clients through media.</p>
        <p class="launch">
          This is a beta version of INFEEDL. Be the first one to join us! We are waiting for you at
          <a href="mailto:val@infeedl.com?subject=Access to INFEEDL">val@infeedl.com</a>
        </p>
        <div class="like">
          <span class="caption">Like us on Facebook </span>
          <div class="fb-like" data-href="https://www.facebook.com/infeedl" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
      </div>
    </div>
    <div class="example">
      <iframe src="http://www.puree.su/#infeedl_sample"></iframe>
    </div>
  </div>
</section>

<section class="bottom">
  <div class="inner">
    <ul>
      <li class="icon01"><span>Up to 8 times higher CTR than that of banners</span></li>
      <li class="icon02"><span>We will check your content and make it better</span></li>
      <li class="icon03"><span>Not a plugola, all ads have a product placement mark</span></li>
      <li class="icon04"><span>Promo articles, videos, infographics</span></li>
      <li class="icon05"><span>Responsive design</span></li>
    </ul>
  </div>
</section>
