<section class="top">
  <div class="inner">
    <div class="header">
      <a href="/" class="logo"></a>
    </div>
    <div class="content">
      <div class="devices"></div>
    </div>
  </div>
</section>

<section class="bottom">
  <div class="inner">
    <ul>
      <li class="icon01"><span>До 8 раз эффективнее баннерки</span></li>
      <li class="icon02"><span>Проверка качества контента</span></li>
      <li class="icon03"><span>Без «джинсы»</span></li>
      <li class="icon04"><span>Продвижение текста, видео, инфографики</span></li>
      <li class="icon05"><span>Поддержка смартфонов и планшетов</span></li>
    </ul>
  </div>
</section>
