<section class="top">
  <div class="inner">
    <div class="header">
      <a href="/" class="logo"></a>
      <ul>
        <li><a href="http://publisher.infeedl.com/">Издателям</a></li>
        <li><a href="http://advertiser.infeedl.com/">Рекламодателям</a></li>
        <li><a href="http://blog.infeedl.com/">Блог</a></li>
      </ul>
      <div class="like">
        <span class="caption">Следите за новостями —</span>
        <div class="fb-like" data-href="https://www.facebook.com/infeedl" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
    </div>
    <div class="content">
      <div class="hero">
        <h1>Новая, неправильная реклама</h1>
        <p>Мы продвигаем брендированный контент через топовые интернет-издания. С любовью к дизайну и&nbsp;пользователю.</p>
        <div class="btns">
          <button class="launch">Узнать о запуске</button>
          <button class="manifesto">Наш манифест</button>
        </div>
      </div>
      <div class="devices"><span></span></div>
    </div>
  </div>
</section>

<section class="bottom">
  <div class="inner">
    <ul>
      <li class="icon01"><span>До 8 раз эффективнее баннерки</span></li>
      <li class="icon02"><span>Проверка качества контента</span></li>
      <li class="icon03"><span>Без «джинсы»</span></li>
      <li class="icon04"><span>Продвижение текста, видео, инфографики</span></li>
      <li class="icon05"><span>Поддержка смартфонов и&nbsp;планшетов</span></li>
    </ul>
  </div>
</section>
