<section class="top">
  <div class="inner">
    <div class="header">
      <a href="/" class="logo"></a>
      {% include ru/menu.html %}
      <button class="mobile-menu"></button>
    </div>
    <div class="content">
      <div class="hero">
        <h1>Пришло время нативной рекламы</h1>
        <p>Cоздавайте рекламные истории и&nbsp;находите читателей через интернет-издания.</p>
        <p class="launch">Мы запустились в закрытой бете. Присоединяйтесь&nbsp;к&nbsp;числу первых издателей и&nbsp;рекламодателей — пишите на <a href="mailto:val@infeedl.com?subject=Access to INFEEDL">val@infeedl.com</a></p>
        <div class="like">
          <span class="caption">Следите за новостями —</span>
          <div class="fb-like" data-href="https://www.facebook.com/infeedl" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
      </div>
    </div>
    <div class="example">
      <iframe src="http://www.puree.su/#infeedl_sample"></iframe>
    </div>
  </div>
</section>

<section class="bottom">
  <div class="inner">
    <ul>
      <li class="icon01"><span>CTR до&nbsp;8&nbsp;раз выше, чем у&nbsp;баннерной рекламы</span></li>
      <li class="icon02"><span>Проверка качества контента</span></li>
      <li class="icon03"><span>Не&nbsp;&laquo;Джинса&raquo;, всегда с&nbsp;пометкой</span></li>
      <li class="icon04"><span>Продвижение текста, видео, инфографики</span></li>
      <li class="icon05"><span>Поддержка смартфонов и&nbsp;планшетов</span></li>
    </ul>
  </div>
</section>

<div class="overlay mobile-menu hidden">
  <div class="close"></div>
  <div class="inner">
    <div class="contents">
      {% include ru/menu.html %}
    </div>
  </div>
</div>
